@font-face{font-family:bello-pro;src:url(https://use.typekit.net/af/405608/00000000000000003b9b29cb/27/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/405608/00000000000000003b9b29cb/27/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/405608/00000000000000003b9b29cb/27/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;}@font-face{font-family:interstate-condensed;src:url(https://use.typekit.net/af/e2f97c/00000000000000003b9ae809/27/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/e2f97c/00000000000000003b9ae809/27/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/e2f97c/00000000000000003b9ae809/27/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;}@font-face{font-family:interstate-condensed;src:url(https://use.typekit.net/af/122a14/00000000000000003b9ae80d/27/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/122a14/00000000000000003b9ae80d/27/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/122a14/00000000000000003b9ae80d/27/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;}@font-face{font-family:interstate-condensed;src:url(https://use.typekit.net/af/1be6c7/00000000000000003b9ae80a/27/l?subset_id=2&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/1be6c7/00000000000000003b9ae80a/27/d?subset_id=2&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/1be6c7/00000000000000003b9ae80a/27/a?subset_id=2&fvd=i4&v=3) format("opentype");font-weight:400;font-style:italic;}@font-face{font-family:interstate-condensed;src:url(https://use.typekit.net/af/4d9382/00000000000000003b9ae80e/27/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/4d9382/00000000000000003b9ae80e/27/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/4d9382/00000000000000003b9ae80e/27/a?subset_id=2&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;}@font-face{font-family:interstate;src:url(https://use.typekit.net/af/20ad3a/00000000000000003b9ae7f7/27/l?subset_id=2&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/20ad3a/00000000000000003b9ae7f7/27/d?subset_id=2&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/20ad3a/00000000000000003b9ae7f7/27/a?subset_id=2&fvd=n5&v=3) format("opentype");font-weight:500;font-style:normal;}@font-face{font-family:interstate;src:url(https://use.typekit.net/af/630ec8/00000000000000003b9ae7f8/27/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/630ec8/00000000000000003b9ae7f8/27/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/630ec8/00000000000000003b9ae7f8/27/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;}@font-face{font-family:interstate;src:url(https://use.typekit.net/af/f67d01/00000000000000003b9ae7f9/27/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/f67d01/00000000000000003b9ae7f9/27/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/f67d01/00000000000000003b9ae7f9/27/a?subset_id=2&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;}@font-face{font-family:bello-caps;src:url(https://use.typekit.net/af/132588/00000000000000003b9b29cc/27/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/132588/00000000000000003b9b29cc/27/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/132588/00000000000000003b9b29cc/27/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;}@font-face{font-family:brandon-grotesque;src:url(https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: interstate-condensed;
}
figure img {
  position: absolute;
  width: 100%;
  top: calc(100vw / -5);
}
@media only screen and (max-width: 500px) {
  figure img {
    top: calc(100vw / -10);
  }
}
@media only screen and (max-width: 420px) {
  figure img {
    top: 0;
  }
}
@media only screen and (max-width: 352px) {
  figure img {
    width: 352px;
    height: 235px;
  }
}
header {
  width: 100%;
  position: absolute;
  z-index: 1002;
  color: #fff;
}
header ul {
  margin: 0 auto;
}
header ul:after {
  content: "";
  display: table;
  clear: both;
}
header li {
  list-style: none;
  float: left;
  display: block;
}
.header-banner {
  width: 100%;
  padding: 19px 0;
}
@media only screen and (max-width: 768px) {
  .header-banner {
      display: none;
  }
}
.header-banner .logo {
  width: 238px;
  height: 108px;
}
.header-banner .header-nav {
  margin-top: 10px;
}
.header-banner .nav-wrapper {
  display: flex;
  text-align: center;
}
.nav-wrapper ul li {
  padding: 0 20px;
  font-size: 16px;
  text-transform: uppercase;
}
.mobile-nav-toggle-label {
  display: none;
}
.overlay-nav {
  display: none;
}
@media only screen and (max-width: 768px) {
  .mobile-nav-toggle-label {
    position: absolute;
    display: inline-block;
    z-index: 1002;
    top: 20px;
    left: 20px;
    width: 22px;
    height: 22px;
    cursor: pointer;
  }
}
.top-bar, .middle-bar, .bottom-bar {
  width: 22px;
  height: 2px;
  background-color: #fff;
  transition: transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
  transform-origin: 50% 50%;
  position: absolute;
  top: 0;
  right: 0;
}
.rotate .top-bar,
.rotate .middle-bar,
.rotate .bottom-bar {
  transition: top .1s .1s ease-in-out,transform .1s .2s ease-in-out
}
.rotate .top-bar {
  transform: rotate(45deg);
  top: 7px;
}
.middle-bar {
  top: 7px;
  opacity: 0s .15s linear;
}
.rotate .middle-bar {
  opacity: 0;
}
.bottom-bar {
  top: 14px;
}
.rotate .bottom-bar {
  transform: rotate(-45deg);
  top: 7px;
}

footer {
  background-color: #171717;
  color: rgba(255,255,255,.4);
  font-size: 14px;
  text-align: center;

  margin-top: 45px;
}
.footer-inner {
  max-width: 1080px;
  padding: 68px 34px;
}
section header {
  z-index: 1;
  color: #000;
  position: relative;
}

/**
 * MENU
 */
main {
  color: #000;
}

main section {
  width: 66%;
  max-width: 700px;
  padding: 17px;
  margin: 0 auto;
}
@media only screen and (max-width: 640px) {
  main section {
    width: 100%;
  }
}

.menu header {
  text-align: center;
  margin-bottom: 2em;
}
.menu header h1 {
  font-family: bello-pro;
  font-size: 51px;
  font-weight: 400;
  line-height: 1em;
}

.menu-item {
  font-size: 20px;
  padding-bottom: 2em;
}
.menu-item span {
  float: right;
  font-size: 19px;
}
.menu-item .menu-item-name {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2em;
}
.menu-item .menu-item-description {
  margin-top: 5px;
  line-height: 1.3em;
  font-size: 19px;
}

.overlay-nav {
  position: fixed;
  z-index: 1001;
  background-color: rgba(237,2,2,.97);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overlay-nav-inner {
  position: relative;
  width: 100%;
  height: 101%;
  padding-top: 90px;
}
.mobile-navigation {
  text-align: center;
}
.mobile-navigation .nav-item {
  width: 100%;
}
.mobile-navigation .nav-item a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  display: block;
  padding: .5em;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1em;
}
